.section{
  display: grid;
  grid-template-rows: 0.5fr;
  grid-template-columns: 0.3fr 1fr;
  gap: 8px;
}
.section1{
    display: grid;
    grid-template-rows: 0.2fr;
    grid-template-columns: 0.01fr 0.2fr 1fr;
    gap: 8px;
  }
.section2{
    display: grid;
    grid-template-rows: repeat(2, 0.1fr);
    grid-template-columns: 0.5fr 1fr;
    gap: 2px;
  }
.layoutD{
  display: grid;
  grid-template-rows: 0.1fr;
  grid-template-columns: 0.1fr 1fr;
  gap: 8px;
}