.layout{
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: 0.5fr 1fr;
    gap: 4px;
}
.button{
    padding-top: "1rem";
    flex-direction: "column";
    display: "flex";
    justify-content: "flex-end";
    align-items: "center";
}